body, html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0; }

.wrapper {
  width: 100%;
  margin: 0; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit; }

#background-img {
  opacity: 0.4;
  min-height: 100vh;
  min-width: 600px;
  object-fit: cover;
  z-index: -1;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }

/**
 * Clear inner floats
 */
.wrapper, .row, .hero, .nav, .footer, .intro, .gallery, .container {
  *zoom: 1; }
  .wrapper:before, .row:before, .hero:before, .nav:before, .footer:before, .intro:before, .gallery:before, .container:before, .wrapper:after, .row:after, .hero:after, .nav:after, .footer:after, .intro:after, .gallery:after, .container:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after, .hero:after, .nav:after, .footer:after, .intro:after, .gallery:after, .container:after {
    clear: both; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1200px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

img {
  width: auto;
  max-width: 100%; }

.equal-height {
  display: flex; }

body {
  font-family: 'Spectral SC', serif; }

.footer {
  color: #090c08;
  background: rgba(117, 112, 131, 0.6);
  text-align: center; }

.footer-content {
  padding-top: 25px; }
  .footer-content button {
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #090c08;
    font-size: 1em;
    background: #474056;
    height: 60px;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 5%; }

.footer-icons {
  background: #b9c6ae;
  text-align: center; }
  .footer-icons ul {
    color: #090c08;
    list-style: none;
    padding: 15px 0;
    margin: 0; }
    .footer-icons ul li {
      display: inline-flex;
      padding-left: 0; }
      .footer-icons ul li i {
        padding-left: 1em; }

@media screen and (min-width: 768px) {
  .footer-content {
    padding-top: 10px; }

  p {
    font-size: 1.25em; } }
[class*='col-'] {
  float: left;
  padding: 1em; }

.col-1 {
  width: 8.3333333333%; }

.offset-1 {
  margin-left: 8.3333333333%; }

.col-2 {
  width: 16.6666666667%; }

.offset-2 {
  margin-left: 16.6666666667%; }

.col-3 {
  width: 25%; }

.offset-3 {
  margin-left: 25%; }

.col-4 {
  width: 33.3333333333%; }

.offset-4 {
  margin-left: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.offset-5 {
  margin-left: 41.6666666667%; }

.col-6 {
  width: 50%; }

.offset-6 {
  margin-left: 50%; }

.col-7 {
  width: 58.3333333333%; }

.offset-7 {
  margin-left: 58.3333333333%; }

.col-8 {
  width: 66.6666666667%; }

.offset-8 {
  margin-left: 66.6666666667%; }

.col-9 {
  width: 75%; }

.offset-9 {
  margin-left: 75%; }

.col-10 {
  width: 83.3333333333%; }

.offset-10 {
  margin-left: 83.3333333333%; }

.col-11 {
  width: 91.6666666667%; }

.offset-11 {
  margin-left: 91.6666666667%; }

.col-12 {
  width: 100%; }

.offset-12 {
  margin-left: 100%; }

.col-md-1 {
  width: 8.3333333333%; }

.offset-md-1 {
  margin-left: 8.3333333333%; }

.col-md-2 {
  width: 16.6666666667%; }

.offset-md-2 {
  margin-left: 16.6666666667%; }

.col-md-3 {
  width: 25%; }

.offset-md-3 {
  margin-left: 25%; }

.col-md-4 {
  width: 33.3333333333%; }

.offset-md-4 {
  margin-left: 33.3333333333%; }

.col-md-5 {
  width: 41.6666666667%; }

.offset-md-5 {
  margin-left: 41.6666666667%; }

.col-md-6 {
  width: 50%; }

.offset-md-6 {
  margin-left: 50%; }

.col-md-7 {
  width: 58.3333333333%; }

.offset-md-7 {
  margin-left: 58.3333333333%; }

.col-md-8 {
  width: 66.6666666667%; }

.offset-md-8 {
  margin-left: 66.6666666667%; }

.col-md-9 {
  width: 75%; }

.offset-md-9 {
  margin-left: 75%; }

.col-md-10 {
  width: 83.3333333333%; }

.offset-md-10 {
  margin-left: 83.3333333333%; }

.col-md-11 {
  width: 91.6666666667%; }

.offset-md-11 {
  margin-left: 91.6666666667%; }

.col-md-12 {
  width: 100%; }

.offset-md-12 {
  margin-left: 100%; }

@media only screen and (min-width: 1000px) {
  .col-lg-1 {
    width: 8.3333333333%; }

  .offset-lg-1 {
    margin-left: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .offset-lg-2 {
    margin-left: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .offset-lg-3 {
    margin-left: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .offset-lg-4 {
    margin-left: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .offset-lg-5 {
    margin-left: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .offset-lg-7 {
    margin-left: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .offset-lg-8 {
    margin-left: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .offset-lg-9 {
    margin-left: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .offset-lg-10 {
    margin-left: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .offset-lg-11 {
    margin-left: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; }

  .offset-lg-12 {
    margin-left: 100%; } }
section.header {
  color: #090c08;
  background: rgba(117, 112, 131, 0.6);
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0; }
  section.header img {
    padding-top: 40px; }
  section.header h2 {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 0; }
  section.header h4 {
    margin-top: 5px; }
  section.header i {
    padding: 0 4px; }

@media screen and (min-width: 600px) {
  .row {
    overflow: auto;
    min-height: 150px; }

  .logo {
    float: left;
    position: relative;
    left: 12%; }

  .title {
    position: absolute;
    bottom: 87%;
    left: 50%; } }
.main-content1 {
  position: relative; }
  .main-content1 h4 {
    border-top: 5px solid #757083;
    text-align: right;
    position: absolute;
    width: 100%;
    right: 12%;
    top: -20%; }
  .main-content1 .col-12 {
    padding: 2% 5% 0 0; }

.main-content2 {
  position: relative;
  margin-top: 50px; }
  .main-content2 h4 {
    border-top: 5px solid #757083;
    text-align: left;
    position: absolute;
    width: 100%;
    right: -12%;
    top: -20%; }
  .main-content2 .col-12 {
    padding: 2% 5% 0 0; }

@media screen and (min-width: 750px) {
  .intro-header h4, .main-header h4 {
    font-size: 1.75em;
    margin: 0;
    padding: 1%; } }
@media screen and (min-width: 900px) {
  .intro-header h4, .main-header h4 {
    font-size: 2.25em;
    margin: 0;
    padding: 2%; } }
.container-intro {
  padding-bottom: 12%; }

.card-1 img, .card-2 img {
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  border-radius: 300px;
  margin-top: 5%;
  border: 5px solid #474056; }

@media screen and (min-width: 550px) {
  .card-1 {
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 47.5%;
    float: right;
    padding-left: 20px; }
    .card-1:nth-child(2n) {
      margin-right: 0; }

  .card2 {
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 47.5%;
    float: left; }
    .card2:nth-child(2n) {
      margin-right: 0; } }
@media screen and (min-width: 600px) {
  .container-intro {
    margin-top: 5%; } }
@media screen and (min-width: 750px) {
  .card-content h1 {
    font-size: 1.75em;
    padding-left: 20px; }

  p {
    font-size: 1.25em;
    margin: 0;
    padding: 3%; } }
@media screen and (min-width: 900px) {
  .card-content h1 {
    font-size: 2.25em; }

  .intro-main p, .main-main p {
    font-size: 1.5em;
    margin: 0;
    padding: 5%; }

  .footer-icons {
    transform: scale(1.5); } }
@media screen and (min-width: 400px) {
  .card-3, .card-4, .card-5, .card-6, .card-7 {
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 49.5%; }
    .card-3:nth-child(2n), .card-4:nth-child(2n), .card-5:nth-child(2n), .card-6:nth-child(2n), .card-7:nth-child(2n) {
      margin-right: 0; }
    .card-3 img, .card-4 img, .card-5 img, .card-6 img, .card-7 img {
      min-height: 200px;
      object-fit: cover; } }
@media screen and (min-width: 475px) {
  .card-3, .card-4, .card-5, .card-6, .card-7 {
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 49.5%; }
    .card-3:nth-child(2n), .card-4:nth-child(2n), .card-5:nth-child(2n), .card-6:nth-child(2n), .card-7:nth-child(2n) {
      margin-right: 0; }
    .card-3 img, .card-4 img, .card-5 img, .card-6 img, .card-7 img {
      min-height: 250px;
      object-fit: cover; } }
@media screen and (min-width: 600px) {
  .card-3, .card-4, .card-5, .card-6, .card-7 {
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 49.5%; }
    .card-3:nth-child(2n), .card-4:nth-child(2n), .card-5:nth-child(2n), .card-6:nth-child(2n), .card-7:nth-child(2n) {
      margin-right: 0; }
    .card-3 img, .card-4 img, .card-5 img, .card-6 img, .card-7 img {
      min-height: 345px;
      object-fit: cover; } }
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .card-3, .card-4, .card-5, .card-6, .card-7 {
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 49%;
    overflow: visible; }
    .card-3:nth-child(2n), .card-4:nth-child(2n), .card-5:nth-child(2n), .card-6:nth-child(2n), .card-7:nth-child(2n) {
      margin-right: 0; }
    .card-3 img, .card-4 img, .card-5 img, .card-6 img, .card-7 img {
      min-height: 350px;
      object-fit: cover; } }
@media screen and (min-width: 800px) {
  .card-3, .card-4, .card-5, .card-6, .card-7 {
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 49.5%; }
    .card-3:nth-child(2n), .card-4:nth-child(2n), .card-5:nth-child(2n), .card-6:nth-child(2n), .card-7:nth-child(2n) {
      margin-right: 0; }
    .card-3 img, .card-4 img, .card-5 img, .card-6 img, .card-7 img {
      min-height: 400px;
      object-fit: cover; } }
@media screen and (min-width: 900px) {
  .card-3, .card-4, .card-5, .card-6, .card-7 {
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 49.5%; }
    .card-3:nth-child(2n), .card-4:nth-child(2n), .card-5:nth-child(2n), .card-6:nth-child(2n), .card-7:nth-child(2n) {
      margin-right: 0; }
    .card-3 img, .card-4 img, .card-5 img, .card-6 img, .card-7 img {
      min-height: 450px;
      object-fit: cover; } }
@media screen and (min-width: 1001px) {
  .card-3, .card-4, .card-5, .card-6, .card-7 {
    float: left;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 33.3333333333%;
    overflow: visible; }
    .card-3:nth-child(3n), .card-4:nth-child(3n), .card-5:nth-child(3n), .card-6:nth-child(3n), .card-7:nth-child(3n) {
      margin-right: 0; }
    .card-3 img, .card-4 img, .card-5 img, .card-6 img, .card-7 img {
      min-height: 500px;
      object-fit: cover; } }

/*# sourceMappingURL=main.css.map */
