//NetNinja's SASS-made flex grid
@mixin grid($col, $mgn) {
  float: left;
  margin-right: $mgn;
  margin-bottom: $mgn;
  width: ((100% - (($col - 1) * $mgn)) / $col);
  &:nth-child(#{$col}n){
    margin-right: 0;
  }
}

//card mixin
@mixin card {
  border: $card-border;
  box-shadow: $card-box-shadow;
  text-align: $card-text-align;
  padding: $card-padding-sm;
  // height: $card-height;
  margin-top: $card-margin-top;
}

//border-radius mixin
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
