//breakpoint variables
$breakpoint-medium: "only screen and (min-width: 750px)";
$breakpoint-large: "only screen and (min-width: 900px)";


//color palette
$color-black: rgba(9, 12, 8, 1);
$color-purple: rgba(71, 64, 86, 1);
$color-lavgrey: rgba(117, 112, 131, 1);
$color-greyblue: rgba(138, 149, 165, 1);
$color-sage: rgba(185, 198, 174, 1);
$color-lavgrey-fade: rgba(117, 112, 131, 0.6);
$color-greyblue: rgba(138, 149, 165, 0.4);

//grid variables
$grid-columns: 12;
$grid-max-width-md: 720px;
$grid-max-width: 1200px;


//header variables
$header-font-size-sm: 2.5em;

//card variables
// $card-border: solid 1px lightgray;
// $card-box-shadow: 1px 1px 5px #888888;
$card-display: inline-block;
$card-text-align: center;
$card-margin-top: 40px;
// $card-height: 300px;
$card-padding-sm: 40px;
$card-padding-md: 0px;
$card-padding-md: 0px;

//footer variables
$footer-height-default: 150px;
$footer-text-align: center;
