.card-1, .card-2 {
  img {
    @include border-radius(300px);
    margin-top: 5%;
    border: 5px solid $color-purple;
  }
}

@media screen and (min-width: 550px) {
  .card-1 {
    @include grid(2, 5%);
    float: right;
    padding-left: 20px;
  }
  .card2 {
    @include grid(2, 5%);
    float: left;
  }
}

@media screen and (min-width: 600px) {
  .container-intro {
    margin-top: 5%;
  }
}

@media screen and (min-width: 750px) {
  .card-content h1 {
    font-size: 1.75em;
    padding-left: 20px;
  }
  p {
    font-size: 1.25em;
    margin: 0;
    padding: 3%;
  }

}

@media screen and (min-width: 900px) {
  .card-content h1 {
    font-size: 2.25em;
  }
  .intro-main p, .main-main p {
    font-size: 1.5em;
    margin: 0;
    padding: 5%;
  }

  .footer-icons {
    transform: scale(1.5);
  }


}
