.card-1, .card-2 {
  img {
    @include border-radius(300px);
    margin-top: 5%;
    border: 5px solid $color-lavgrey;
  }  
}

@media screen and (max-width: 767px) {
  .card-1, .card-2 {
    @include grid(1, 5%);
  }
}


@media screen and (min-width: 768px) {
  .gallery1 .container{
    display: flex;
    overflow: visible;
  }
  .card-1, .card-2 {
    @include grid(2, 5%);
    img {
      min-height: 332px;
      object-fit: cover;

      &:hover {
      transform: scale(1.1);
      transition: ease-in-out .75s;
      box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
