.main-content1 {
  position: relative;
  h4 {
  border-top: 5px solid $color-lavgrey;
  text-align: right;
  position: absolute;
  width: 100%;
  right: 12%;
  top: -20%;
  }
  .col-12 {
    padding: 2% 5% 0 0;
  }
}

.main-content2 {
  position: relative;
  margin-top: 80px;
  h4 {
  border-top: 5px solid $color-lavgrey;
  text-align: left;
  position: absolute;
  width: 100%;
  right: -12%;
  top: -20%;
  }
  .col-12 {
    padding: 2% 5% 0 0;
  }
}

@media screen and (min-width: 750px) {

  .intro-header h4, .main-header h4 {
    font-size: 1.75em;
    margin: 0;
    padding: 1%;
  }
}

@media screen and (min-width: 900px) {

  .intro-header h4, .main-header h4 {
    font-size: 2.25em;
    margin: 0;
    padding: 2%;
  }
}
